body {
    background-color: black;
}

.no {
    color: red;
}

.yes {
    color: rgb(17, 243, 17);
}

h1 {
    font-size: 100px;
    color: white;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    object-fit: contain;
}